@use '../node_modules/bootstrap/scss/bootstrap';

html {
  min-height: 100%;
}

body{
  background: rgb(118,185,71);
  background: linear-gradient(0deg, rgba(118,185,71,1) 0%, rgba(148,201,115,1) 100%);
}
.form-row{
  @extend .row;
  @extend .ps-5;
  @extend .pe-5;
  @extend .mb-4;
  @extend .gy-4;
}

.workout-submit-btn{
  @extend .btn;
  @extend .btn-warning;
  width: 100%;
  height: 100%;
}

#map{
  min-height: 600px;
}

#map{
  img{
    max-height: none;
  }
}
