@use 'background';
@use 'cssReset';
@use 'navigation';

@mixin standardGreenBorder($width, $radius){
  border-color: #2F5233;
  border-style: solid;
  border-width: $width;
  border-radius: $radius;
}

#map{
  background-color: #94c973;
  height: 30rem;
}