#presentation__header{
   padding: 10rem 1rem;
   font-family: 'Roboto', sans-serif;
   background-color: rgb(0,0,0,0.4);
   background-image: url("../../img/man-running-large.jpg");
   background-size: cover;
   background-blend-mode: darken;
   background-position: center;
   transition: display 1s;
  height: 70vh;
}