#map{
  background-color: #94c973;
  min-height: 70vh;
  border-bottom: 5px solid #00000066;
  z-index: 1;
}

.leaflet-ui-info{
  width: 200px;
  height: 200px;
  background-color: #00000044;
  border-radius: 1em;
}