.app-bar{
  font-family: 'Roboto', sans-serif;
  background-color: #2F5233;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-bar__nav{
  border-left: #bbbbbbaa;
  border-width: 0 0 0 3px;
  border-style: solid;
  border-radius: 0.2em;
  height: 70%;
  display: flex;
  flex-basis: 30rem;
  justify-content: space-around;
  align-items: center;
}

.nav__button{
  border: 0;
  font-weight: bold;
  box-shadow: 2px 3px 8px 2px rgba(40,40,40,0.7);
  padding: 0.4em 2em;
  font-family: inherit;
  font-size: 1em;
  border-radius: 3em;
  min-height: 80%;
  flex-basis: 5em;
  background: #77aa77;
  transition: transform 0.2s;
}

.nav__button:hover{
  cursor: pointer;
  background: #99bb99;
  transform: scale(1.1);
}

.app-bar__logo{
  flex-basis: 200px;
  filter: brightness(2);
  transition: filter 0.25s;
}

.app-bar__logo:hover{
  filter: brightness(2.4);
}

@media (max-width: 570px) {

  .app-bar{
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
  }

  .app-bar__nav{
    border-top: #bbbbbbaa;
    border-width: 3px 0 0 0;
    border-style: solid;
    border-radius: 0.2em;
    flex-basis: 6rem;
    width: 95%;
  }

  .app-bar__logo{
    width: 200px;
    flex-basis: 100px;
  }

  .nav__button{
    min-height: 0;
    flex-basis: 3em;
  }
}

@media (max-width: 380px) {
  .app-bar__nav{
    flex-basis: 15rem;
    flex-direction: column;
  }

  .nav__button{
     min-height: 0;
     min-width: 0;
  }
}

@media (max-width: 199px) {
  .app-bar__logo{
    max-width: 100px;
    flex-basis: 100px;
  }
}