#presentation__body__text-area{
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (max-width: 900px) {
  #presentation__body__text-area{
    margin: 0;
  }
}