.text-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  border-radius: 3em;
  background-color: #aaaaaaa2;
  padding: 2em;
  box-shadow: 1px 1px 10px 2px #00000055;
}

.text-card-unrounded{
  @extend .text-card;
  border-radius: 0.5em 2em;
  width: fit-content;
}

.loading-card{
  @extend .text-card;
}

.text-card h3{
  font-size: 2.3em;
  font-weight: bold;
  transition: transform 0.25s;
  margin-bottom: 0.5em;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: black;
}

.text-card h3:hover{
  transform: translateX(10px);
}

.text-card p{
  font-size: 1.6em;
}

@media (max-width: 330px ) {
    .text-card h3{
      font-size: 1.5em;
    }
    .text-card p{
      font-size: 1.1em;
    }
}

@media (max-width: 230px ) {
  .text-card h3{
    font-size: 1em;
  }
  .text-card p{
    font-size: 0.9em;
  }
}