#workouts__workout-area{
  background-color: #00000044;
  display: flex;
  flex-direction: row;
  padding: 1em;
  justify-content: space-evenly;
  align-items: center;
}

#workouts__workout-area__workout-form{
  border: 2px solid #00000033;
  border-radius: 1em;
  padding: 0.6em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#workouts__workout-area__workout-history{
  margin-left: 0.5em;
  padding: 1em;
  background-color: #77aa77;
  border-radius: 0.2em 0.5em 0.5em 1.5em;
  box-shadow: 2px 2px 6px 2px #00000044;
  overflow-y: auto;
  max-height: 300px;
  width: 35%;

  /*Mozilla scrollbar specific properties*/
  scrollbar-color: darkseagreen darkolivegreen;
}

/*Chromium scrollbar specific properties*/
#workouts__workout-area__workout-history::-webkit-scrollbar-track{
  background-color: darkseagreen;
}
/*Chromium scrollbar specific properties*/
#workouts__workout-area__workout-history::-webkit-scrollbar{
  width: 0.5em;
}
/*Chromium scrollbar specific properties*/
#workouts__workout-area__workout-history::-webkit-scrollbar-thumb {
  background: darkolivegreen;
}

@media (max-width: 570px) {
  #workouts__workout-area{
    flex-direction: column;
  }
  #workouts__workout-area__workout-form{
    margin-bottom: 0.8em;
  }
  #workouts__workout-area__workout-history{
    margin-left: 0;
  }
}