@use  'background';
@use  'cssReset';
@use  'navigation';
@use  'home';
@use  'presentation-body';
@use  'presentation-body-photos';
@use  'presentation-body-text';
@use  'text-card';
@use  'app-footer';
@use  'map';
@use  'demo';
@use  'form';
@use  'workout-history';
@use  'loading';
@use  'buttons';

body{
  font-family: 'Roboto', sans-serif;
}

.transparent{
  opacity: 0;
}

.not-transparent{
  opacity: 1;
}

.hidden{
  display: none;
}

.map-section__note{
  padding: 0.5em;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
}

.anchor--zoomable {
  text-decoration: none;
  color: black;
  font-style: italic;
  transition: font-size 0.2s;
}

.anchor--zoomable:hover{
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.1rem;
}

.element-fade-out{
  animation: fade-out 600ms ease-out;
  animation-fill-mode: forwards;
}

.element-fade-in{
  animation: fade-in 600ms ease-in;
  animation-fill-mode: forwards;
}

@keyframes fade-out{
  0%{ opacity: 1 }
  100%{opacity: 0}
}

@keyframes fade-in{
  0%{ opacity: 0 }
  100%{opacity: 1}
}

.m1{
  margin: 1em;
}

.centered{
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 350px){
  html {
    font-size: 14px;
  }
}

@media (max-width: 350px){
  html {
    font-size: 12px;
  }
}