@use 'background';
@use 'cssReset';
@use 'navigation';
@use 'presentation';

@mixin standardGreenBorder($width, $radius){
  border-color: #2F5233;
  border-style: solid;
  border-width: $width;
  border-radius: $radius;
}

#map{
  background-color: #94c973;
  height: 30rem;
}

.map-section{
}

.transparent{
  opacity: 0;
}

.not-transparent{
  opacity: 1;
}

.hidden{
  display: none;
}

.map-section__note{
  padding: 0.5em;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
}

.map-section__note a {
  text-decoration: none;
}

/* ! there is some ugly flashing when fade animation is shorter than 0.6s !*/
.element-fade-out{
  animation: fade-out 0.6s ease-out;
  animation-fill-mode: forwards;
}

/* ! there is some ugly flashing when fade animation is shorter than 0.6s !*/
.element-fade-in{
  animation: fade-in 0.6s ease-in;
  animation-fill-mode: forwards;
}

@keyframes fade-out{
  0%{ opacity: 1 }
  100%{opacity: 0}
}

@keyframes fade-in{
  0%{ opacity: 0 }
  100%{opacity: 1}
}