@use 'background';
@use 'cssReset';
@use 'navigation';
@use 'presentation';

@mixin standardGreenBorder($width, $radius){
  border-color: #2F5233;
  border-style: solid;
  border-width: $width;
  border-radius: $radius;
}

#map{
  background-color: #94c973;
  height: 30rem;
}

.map-section{
  display: none;
}

.map-section__note{
  padding: 0.5em;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
}

.map-section__note a {
  text-decoration: none;
}